@(a: ch.insign.cms.views.admin.utils.AdminContext, userForm: Form[_], user: models.User)

@import helper.{options, inputPassword}
@import views.html.metronic._
@import ch.insign.cms.views.html.helpers.mstring
@import helper._
@import ch.insign.cms.views.html.admin.shared.layout
@import play.i18n.Messages;
@import ch.insign.cms.views.html.helpers.formKey
@import ch.insign.cms.controllers.routes
@import ch.insign.playauth.views.helper._
@import ch.insign.playauth.permissions._

@ch.insign.cms.views.html.admin.party.editForm(a, userForm, user) {
    <div class="form-group">
        @inputText(
            userForm("lastName"),
            'class -> "form-control",
            'placeholder -> Messages.get("backend.user.lastName"),
            '_label -> Messages.get("backend.user.lastName")
        )
    </div>

    <div class="form-group">
        @inputText(
            userForm("phone"),
            'class -> "form-control",
            'placeholder -> Messages.get("backend.user.phone"),
            '_label -> Messages.get("backend.user.phone")
        )
    </div>
}
